ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(15, 77, 107);
    top: 0;
    width: 100%;
}
li{
    float: left;
}
li a{
    display: block;
    padding: 14px 16px ;
    text-decoration: none;
    text-align: center;
    color: white;
}
li a:hover{
    background-color:blue;
}
.section1{
    height: 500px;
    background-image: url(20.webp);
    opacity: 2;
}
.section1 h1{
    padding-right: 200px;
    padding-top: 160px;
    text-align: center;
    color:white;
    font-size: 100px;
}
.section2{
    color:rgb(15, 77, 107);
    width: 100%;
}
.s2p1{
    font-size: small;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 80px;
    text-align: justify;
    background-color:#e7eef3;
    /* height: 400px; */
}
.s2p2{
    background-color:#f4f6f8;
    padding-top: 80px;
    /* padding-left: 50px; */
}
.s2p2 ul{
    color: white;
}
.s2p2 li{
    font-size: 20px;
    color: white;
    padding:10px;
}
.section3{
    height: 150px;
    color: white;
    font-family:bold;
    font-size: xx-large;
    text-align: center;
    width: 100%;
    background-color: aqua;
}
.s3p1{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:rgb(80 146 179);
}
.s3p2{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(15 77 107);
}
.s3p3{
    padding-top: 50px;
    padding-bottom: 50px;
background-color:rgb(230 0 4);
}

 /* contect */
 .BROCKWAY{
    padding: 8%;
    background-color:#e7eef3;
}
.content{
    padding: 50px;
    background-color:#f4f6f8;
}
.BTN1{
    padding: 5px 20px;
    font-size: x-large;
    margin-top: 20px;
    text-align: center;
    float: right;
    color: black;
    background-color: white;
    border: 1px solid red;
    /* border-radius: 0; */
    transition: .5ss;
}
.BTN1:hover{
    color: white;
    background-color: red;
    border: 1px solid rgb(212, 0, 0);
}
/* fotter */

.ROW3{
    padding-top: 60px;
    color: white;
    text-align: center;
    height: 280px;
    background-color: rgb(15, 77, 107);
}
.ROW2{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:white;
}
.fotter{
    font-size: 20px;
    color:rgb(15, 77, 107);
}